@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.login-page-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-login {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0;
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(40px);
    opacity: 0;
  }
}

button {
  background-color: #2483f0;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1);
}

button.animate-on-scroll:hover,
button.animate-on-scroll-pop:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

#platform-features {
  padding-top: 80px;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-on-scroll.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.animate-on-scroll-pop {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-on-scroll-pop.pop {
  opacity: 1;
  transform: scale(1);
}

.animate-on-scroll-left {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-on-scroll-left.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

.animate-on-scroll-right {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-on-scroll-right.slide-in-right {
  opacity: 1;
  transform: translateX(0);
}

.custom-button-prev,
.custom-button-next {
  background-color: transparent;
  border: 2px solid white;
  color: 2px solid white;
}

.custom-button-prev:hover,
.custom-button-next:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}

.swipe-left {
  animation: swipeLeft 0.5s ease-in-out forwards;
}

.swipe-right {
  animation: swipeRight 0.5s ease-in-out forwards;
}