@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 60px 15px 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #d7fff7;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #2a78ae;
    height: 60px;
    width: 100%;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: #d7fff7;
}

.header__logo img {
    height: 36px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    column-gap: 20px;
    font-weight: 500;
}

.header__logout {
    display: flex;
    align-items: center;
    font-size: 26px;
}

/* my team page */
.my-team {
    margin: auto;
    max-width: 1000px;
}

.created-team {
    margin-top: 50px;
    margin-bottom: 30px;
}

.joined-team {
    margin-top: 50px;
    margin-bottom: 30px;
}

.created-team__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.my-team__title {
    color: #2a1d56;
    font-size: 45px;
    font-weight: 700;
    line-height: 34.218px;
    letter-spacing: -0.855px;
    margin: 0 0 20px;
}

/* my team list */
.my-team__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 10px;
    grid-auto-rows: auto;
    color: #fff;
}

/* team card */
.my-team__item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #2a78ae;
    border-radius: 15px;
    box-sizing: border-box;
}

.my-team__profile-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.my-team__item img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.my-team__detail-wrap {
    display: flex;
    flex-direction: column;
}

.my-team__item .my-team__name {
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.684px;
}

.my-team__item p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.684px;
}

/* view button */
button {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    color: white;
    height: 36px;
    border-radius: 10px;
    border: 0;
    background-color: #2a1d56;
    padding: 0px 15px;
}

button:hover {
    background-color: #423474;
}

button:active {
    background-color: #2a1d56;
}

.team__view-button {
    margin-top: 15px;
    width: 100%;
}

.my-team__create-button {
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin: 15px auto;
}

/* req page */
.join-request {
    margin: auto;
    max-width: 1000px;
}

.join-request__title {
    color: #2a1d56;
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 34.218px;
    letter-spacing: -0.855px;
}

.join-request__list {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* req item */
.join-request__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #2a78ae;
    border-radius: 15px;
    box-sizing: border-box;
    /* border: 4px solid #2a1d56; */
}

.join-request__profile {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.join-request__item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.join-request__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join-request__item p {
    padding: 0;
    margin: 0;
}

.join-request__name {
    font-size: 27px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.684px;
}

.join-request__user-name {
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.5px;
}

p.join-request__position {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.684px;
}

.join-request__button {
    display: grid;
    align-items: center;
    grid-template-columns: 100px;
    gap: 1px;
}

.join-request__accept {
    height: 36px;
    border-radius: 20px;
    border: 0;
    background-color: #53cebf;
}

.join-request__accept:hover {
    background-color: #27c77c;
}

.join-request__accept:active {
    background-color: #53cebf;
}

.join-request__reject {
    height: 36px;
    border-radius: 20px;
    border: 0;
    background-color: #fa8888;
}

.join-request__reject:hover {
    background-color: #f55;
}

.join-request__reject:active {
    background-color: #fa8888;
}
